{extends layout.latte}

{block content}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
       <img src="/public/img/404.png" class="heroImg rounded" width="450" height="550">
      <h4 class="fw-bold txt-color-primer">Halaman yang anda cari tidak tersedia!</h4>
      <a href="/" class="btn btn-md btn-block border-secondary btn-light rounded-pill mt-2 mb-2"><i class="fas fa-chevron-left"></i> Kembali</a>
</div>
{/block}