{extends layout.latte}

{block content}
<section class="hero">
  <div class="container-hero">
    <img src="https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/images/elements/bootstrap-stack.png" srcset="https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/images/elements/bootstrap-stack.png 1x, https://themes.getbootstrap.com/wp-content/themes/bootstrap-marketplace/assets/images/elements/bootstrap-stack@2x.png 2x">
     <h1 class="display-4 fw-bold txt-color-primer">Solusi Terbaik Sistem Kasir Anda</h1>
     <h5 class="text-gray-soft fw-regular txt-color-primer">Semua kebutuhan anda ada dalam satu aplikasi.</h5>
     <button class="btnnext btn btn-light border rounded-pill btn-lg mb-5 mt-5 mb-lg-2" href="https://themes.getbootstrap.com/official-themes"><i class="fa-solid fa-chevron-down"></i></button>
  </div>
</section>

<section class="contents-hero mb-5 first-hero">
    <div class="wrapperHero"> 
    <div class="row gx-lg-0">
        <div class="col-lg-6 my-lg-auto">
            <h2 class="title2 mb-sm-4 mb-3 txt-color-primer fw-bolder">Antarmuka yang Interaktif, membuat pekerjaan Semakin Produktif dan efektif</h2>
            <p class="desc1 mb-sm-4 mb-3 txt-color-primer desc-color fw-regular lead">Sistem POS inLavorie dirancang dengan tampilan dasbor yang modern dan mudah dioperasikan oleh siapapun untuk memberikan pengalaman terbaik.</p>
        </div>
        <div class="col-lg-6 text-lg-end">
            <img src="https://cdni.iconscout.com/illustration/premium/thumb/admin-control-panel-illustration-download-in-svg-png-gif-file-formats--dashboard-interface-administration-web-and-mobile-application-pack-design-development-illustrations-3722637.png?f=webp" class="heroImg rounded">
        </div>
    </div>
</div>
</section>

<section class="contents-hero mt-5 mb-5">
    <div class="wrapperHero-2"> 
    <div class="row gx-lg-0">
        <div class="col-lg-6 my-lg-auto">
            <h2 class="title2 mb-sm-4 mb-3 fw-bolder txt-color-primer">Dilengkapi dengan modul yang mendukung produktifitas anda</h2>
            <p class="mb-sm-4 fw-regular mb-3 txt-color-primer txt-color-primer desc-color lead">Sistem POS inLavorie juga dilengkapi modul yang berguna dan fleksibel, seperti inventaris dan akunting.</p>
        </div>
        <div class="col-lg-6 text-lg-end">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/dashboard-development-illustration-download-in-svg-png-gif-file-formats--woman-ux-user-web-software-pack-seo-illustrations-2918526.png" class="heroImg rounded">
        </div>
    </div>
</div>
</section>
<br/>
<br/>
<section class="contents-hero mb-5" id="about">
    <div class="wrapperHero" style="background-color:#e1f0ff;"> 
    <div class="row gx-lg-0">
        <div class="col-lg-6 my-lg-auto">
            <h2 class="title2 mb-sm-4 mb-3 txt-color-primer fw-bolder">Mengapa memilih kami?</h2>
            <p class="txt-color-primer desc-color fw-regular lead"><i class="fa-solid fa-check text-success"></i> Berbasis Cloud</p>
            <p class="txt-color-primer fw-thin">Kami menjamin keamanan data anda karena layanan kami berbasis cloud yang memiliki keamanan ekstra.</p>
            <p class="txt-color-primer desc-color fw-regular lead"><i class="fa-solid fa-check text-success"></i> Solusi Terintegrasi</p>
            <p class="txt-color-primer fw-thin">inLavorie POS menawarkan semua yang Anda butuhkan dalam satu platform. Dari manajemen penjualan, marketing, hingga pelacakan inventaris.</p>
            <p class="txt-color-primer desc-color fw-regular lead"><i class="fa-solid fa-check text-success"></i> Cocok Untuk Berbagai Bidang Usaha</p>
            <p class="txt-color-primer fw-thin">inLavorie POS cocok untuk usaha dibidang resto atau coffee shop, rental, dan juga usaha retail.</p>
            
        </div>
        <div class="col-lg-6 text-lg-end">
            <img src="/public/img/server.png" class="heroImg rounded">
        </div>
    </div>
</div>
</section>
<br/>
<br/>
<br/>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="pricing">
<h1 class="display-6 txt-color-primer fw-bolder">Pricing</h1>
<p class="lead txt-color-primer">Kami menawarkan beberapa paket harga yang dirancang untuk memenuhi kebutuhan bisnis Anda, mulai dari usaha kecil hingga perusahaan besar. Dengan inLavorie POS, Anda mendapatkan solusi lengkap untuk manajemen penjualan dan inventaris, customer support pelanggan yang luar biasa. Daftar sekarang dan pilih bidang usaha anda.</p>
</div>
<div class="container">
  <div class="row mb-3 text-center">
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Free</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Rp.0 <small class="text-muted">/ bln</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Maks 1 akun kasir</li>
            <li>24/7 customer support</li>
            <li>Free trial hanya 1 bulan</li>
            <li class="text-white">p</li>
            <li class="text-white">p</li>
            <li class="text-white">p</li>
          </ul>
          <button type="button" class="btn btn-md btn-block btn-primary rounded-pill">Uji Coba Sekarang</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Usaha Mikro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Rp.30k <small class="text-muted">/ bln</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Maks 10 akun kasir</li>
            <li>Maks 3 cabang</li>
            <li>24/7 customer support</li>
            <li>Custom nota/invoice</li>
            <li>Promosikan usaha</li>
            <li>Cetak report</li>
          </ul>
          <button type="button" class="btn btn-md btn-block btn-primary rounded-pill">Mulai Sekarang</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Professional</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Rp.50k <small class="text-muted">/ bln</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Up to 10 akun kasir</li>
            <li>Up to 3 cabang</li>
            <li>24/7 customer support</li>
            <li>Custom nota/invoice</li>
            <li>Promosikan usaha</li>
            <li>Cetak report</li>
          </ul>
          <button type="button" class="btn btn-md btn-block btn-primary rounded-pill">Mulai Sekarang</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<br/>
<section class="contents-hero mt-5 mb-5" id="features">
    <div class="wrapperHero-2"> 
    <div class="row gx-lg-0">
        <div class="col-lg-6 my-lg-auto mb-3">
            <h2 class="title2 mb-sm-4 mb-3 fw-bolder txt-color-primer">Fitur Utama</h2>
            <p class="txt-color-primer desc-color fw-regular lead"><i class="fa-solid fa-check text-success"></i> Multi Pembayaran</p>
            <p class="txt-color-primer desc-color fw-regular lead"><i class="fa-solid fa-check text-success"></i> Promo Diskon dan Kupon</p>
            <p class="txt-color-primer desc-color fw-regular lead"><i class="fa-solid fa-check text-success"></i> Level Harga</p>
            <p class="txt-color-primer desc-color fw-regular lead"><i class="fa-solid fa-check text-success"></i> Manajemen Keuangan</p>
            <p class="txt-color-primer desc-color fw-regular lead"><i class="fa-solid fa-check text-success"></i> Manajemen Inventaris</p>
            <p class="txt-color-primer desc-color fw-regular lead"><i class="fa-solid fa-check text-success"></i> Layout Meja Dine-in</p>
            <p class="txt-color-primer desc-color fw-regular lead"><i class="fa-solid fa-check text-success"></i> Fitur Antrian</p>
            <p class="txt-color-primer desc-color fw-regular lead"><i class="fa-solid fa-check text-success"></i> Cetak Pesanan di Dapur</p>
            <p class="txt-color-primer desc-color fw-regular lead"><i class="fa-solid fa-check text-success"></i> Kitchen Display System</p>
            <p class="txt-color-primer desc-color fw-regular lead"><i class="fa-solid fa-check text-success"></i> Poin dan Loyalitas Customer</p>
        </div>
        <div class="col-lg-6 text-lg-end">
        <img src="https://posbytz.com/wp-content/uploads/2022/12/What-Is-a-Retail-POS-Point-of-Sale-System-and-Key-.png" class="heroImg rounded">
        </div>
    </div>
</div>
</section>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-6 txt-color-primer fw-bolder">Butuh Custom Modul?</h1>
      <p class="lead txt-color-primer">Aplikasi kami sangat fleksibel dan skalabel, kami dapat menambahkan plugin atau modul custom untuk lebih spesifik kepada bisnis anda.</p>
      <button type="button" class="btn btn-md btn-block btn-primary rounded-pill mt-2 mb-2">Hubungi Kami</button>
</div>
{/block}

{block scripts}
<script src="../public/scripts/home.js"></script>
{/block}